.App {
  text-align: center;
  background-color: rgb(203, 212, 214);
}

.pageNav{
  display: flex;
  justify-content: center;
}

.pageSelector {
  width:20px;
  height:20px;
  margin: 10px;
  color: blue;
}

.pageSelector:hover {
  color: lightblue;
}

.selected {
  font-weight: bold;
}
